{% extends 'base.html.jinja2' %}
{% block title %}
    {{LOCALIZED_STRINGS.get('UploadFile')}}
{% endblock %}

{% block headerRight %}
    <div class="dropdown">
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Language
    </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for language in AVAILABLE_LANGUAGES.items() %}
                <li>
                    <a class="dropdown-item" href="{{ url_for('set_language', language=language[0]) }}">{{ language[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class='px-4 py-5 my-5 text-center'>

        <div class="alert alert-info d-flex align-items-center ep-" role="alert">
            <i class="bi bi-info-square-fill sm-1 em-2"></i>&nbsp;
            <div>
            This is still Work in Progress. Not all errors are detected, we are still working on match patterns. Please
            be patient and report undetected errors over on Github or directly on Discord to
            blackfisch#1467.<br/><br/>
            Dieses Projekt ist noch in der Entwicklung. Nicht alle Fehler werden erkannt, wir arbeiten noch an den Match
            Patterns. Bitte habe Gedult und melde nicht entdeckte Fehler über Github oder Discord direkt an
            blackfisch#1467.<br/><br/>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
        <div>
                    {{LOCALIZED_STRINGS.get(error, 'An unknown error occured.')}}
                </div>
            </div>
        {% endif %}
        <form method='post' enctype='multipart/form-data'>
            <div class='form-group'>
                <label for='file'>{{LOCALIZED_STRINGS.get('SelFile')}}</label>
                <input type='file' accept='{{ supported_filetypes }}' class='form-control' name='file'>
                <small class='form-text text-muted'>{{LOCALIZED_STRINGS.get('SelFileDesc')}}
                    {{',
                '.join(supported_filetypes.split(','))}}</small><br/>
                <small class='form-text text-muted'>{{LOCALIZED_STRINGS.get('MaxSize')}}
                    {{max_size}}</small>
            </div>
            <br/>
            <div class='form-group'>
                <label for='loglevel'>{{LOCALIZED_STRINGS.get('SelLoglevel')}}</label>
                <select class='form-select' name='loglevel'>
                    {% for level in levels %}
                        <option value='{{ level }}'>{{ level }}</option>
                    {% endfor %}
                </select>
                <small class='form-text text-muted'>{{LOCALIZED_STRINGS.get('SelLoglevel')}}</small>
            </div>
            <br/>
            <br/>

            <button type='submit' class='btn btn-primary'>{{LOCALIZED_STRINGS.get('Upload')}}</button>
        </form>
    </div>
{% endblock %}
